# LIST

In [1]:
brand = ["Audi","Bmw","Mazda", "Opel"]
print(brand)

['Audi', 'Bmw', 'Mazda', 'Opel']

In [3]:
len(brand)

4

In [6]:
print(brand[0])
print(brand[3])

Audi
Opel

In [10]:
brand.pop(2)
brand.insert(2,"Toyota")
print(brand)

['Audi', 'Bmw', 'Toyota', 'Opel']

In [12]:
brand.index("Mercedes")

ValueError: 'Mercedes' is not in list

In [16]:
print(brand[-2])
print(brand[0:2])

Toyota
['Audi', 'Bmw']

In [23]:
brand.append("Renault")
brand.append("Skoda")
print(brand)

['Audi', 'Bmw', 'Toyota', 'Opel', 'Renault', 'Skoda']

In [32]:
brand.reverse()
print(brand)
brand.reverse()
print(brand)

['Audi', 'Bmw', 'Toyota', 'Opel', 'Renault', 'Skoda']
['Skoda', 'Renault', 'Opel', 'Toyota', 'Bmw', 'Audi']

In [35]:
studentA = ["Yiğit Bilgi",2010,(100,50,70)]
studentB = ["Sena Turan",2018,(60,80,80)]
studentC = ["Ahmet Turan",2020,(10,30,90)]
students = [studentA,studentB,studentC]
print(students)
print(students[0])
print(students[0][0])

[['Yiğit Bilgi', 2010, (100, 50, 70)], ['Sena Turan', 2018, (60, 80, 80)], ['Ahmet Turan', 2020, (10, 30, 90)]]
['Yiğit Bilgi', 2010, (100, 50, 70)]
Yiğit Bilgi

In [37]:
brand = brand +["Ferrari"]
print(brand)

['Skoda', 'Renault', 'Opel', 'Toyota', 'Bmw', 'Audi', 'Ferrari']

In [38]:
brand = brand +["Porshe","volkswagen"]
print(brand)

['Skoda', 'Renault', 'Opel', 'Toyota', 'Bmw', 'Audi', 'Ferrari', 'Porshe', 'volkswagen']

# LIST METHODS

In [72]:
names = ["Ali", "Yağmur", "Hakan", "Deniz"]
years = [1998,2000,1998,1987]

In [45]:
names.index("Deniz")

3

In [51]:
max(years)

2000

In [52]:
min(years)

1987

In [75]:
years.sort()
print(years)

[1987, 1998, 1998, 2000]

In [76]:
years.count(1998)

2

In [77]:
brands = []
brand1 = input("Can You Enter Brand: ")
brand2 = input("Can You Enter Brand: ")
brands.append(brand1)
brands.append(brand2)
print(brands)

Can You Enter Brand: LC
Can You Enter Brand: JACK JONES
['LC', 'JACK JONES']

In [89]:
brands = []
for x in range(3):
    brandx = input("Can You Enter Brand: ")
    brands.append(brandx)
print(brands)

Can You Enter Brand: A
Can You Enter Brand: B
Can You Enter Brand: C
['A', 'B', 'C']