In [2]:
import math

value = dir(math)

print(value)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [3]:
help(math.tan)
math.factorial(6)
math.log(100,10)
math.tan(90)

Help on built-in function tan in module math:

tan(x, /)
    Return the tangent of x (measured in radians).

-1.995200412208242

In [8]:
import math as Matematik # I can name changing

from math import ceil,factorial # If I want to choose one, I can do like that

a = Matematik.factorial(5)
b = Matematik.ceil(9.76)

print(a,b)

120 10

In [373]:
import random

names = ["Batuhan","Hazal","Yasemin","Yaren","Yavuz"]

lucky = random.randint(0,len(names)-1)

def lotory():
    return names[lucky]

print(lotory(),"=", lucky+1)

Batuhan = 1

In [22]:
import random

names = ["Batuhan","Hazal","Yasemin","Yaren","Yavuz"]

print(random.sample(names,2))

print(names[random.randint(0,len(names)-1)])

['Hazal', 'Batuhan']
Batuhan

In [378]:
random.choice(names)

'Batuhan'

In [382]:
import random

list1 =list(range(10))
print(list1)
random.shuffle(list1) # This command can replace the object in the list

print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 7, 1, 8, 0, 3, 6, 9, 4, 2]

In [25]:
import random
list2 = list(range(10))
random.sample(list2,3)

[9, 4, 6]

In [28]:
import random
names = ["batuhan","Hazal"]
random.sample(names,1)

['Hazal']