# VARIABLES

In [2]:
Cost_Shirt = 100 
sale = 1/4
total = Cost_Shirt-Cost_Shirt*sale
print("Cost : {0}$".format(total))

Cost : 75.0$

In [8]:
#User Information
name = "Batuhan"
last_Name = "Inan"
job = "Student"

print("Name: {0}\nLastname: {1}\nJob: {2}".format(name,last_Name,job))

Name: Batuhan
Lastname: Inan
Job: Student

In [9]:
order1 = 50
order2 = 70
order3 = 120
total = order1+order2+order3
print("Total cost: ",total)

Total cost:  240