# FOR

In [1]:
numbers = [1,3,5,7,9,12,19,21]
for x in numbers:
    if x%3==0:
        print(x)

3
9
12
21

In [10]:
numbers = [1,3,5,7,9,12,19,21]
total=0
for y in numbers:
    total=total+y
print(total)

77

In [14]:
numbers = [1,3,5,7,9,12,19,21]
for x in numbers:
    if not x%2==0:
        print(x**2)

1
9
25
49
81
361
441

In [39]:

city = ["Kocaeli","Istanbul","Ankara","Izmir","Rize"]
for i in city:
    c=0
    for y in i:
        c=c+1
    if c<=5:
        print(i)

Izmir
Rize

In [73]:
products = [
    {"name":"Samsung S6","price":"3000"},
    {"name":"Samsung S7","price":"4000"},
    {"name":"Samsung S8","price":"5000"},
    {"name":"Samsung S9","price":"6000"}
]
y=0
total=0
for x in products:
    price = products[y]["price"]
    total = total +int(price)
    y+=1
print(total)

18000

In [87]:
y=0
strr="$ the price of"
for x in products:
    price = products[y]["price"]
    y+=1
    if int(price)<=4000:
        print(price,strr,x["name"])

3000 $ the price of Samsung S6
4000 $ the price of Samsung S7